# Ignore OS Related/Generic
Thumbs.db
Desktop.ini
node_modules
npm-debug.log
.sass-cache
._*
Icon?
.DS_Store
*.bak
*.tmproj
*.tmproject
*~
*.sublime-*

# IDEs project files/settings
nbproject/
nbactions.xml
.settings/
.project
.metadata
.properties

# Ignore files that are built with Grunt
assets/css/styles.css
assets/js/application.js
assets/js/application.min.js