//COLOURS


//ANCHOR
$anchor:#fff;
$anchor-hover:#A92718;


//BORDERS
$border: #d1d1d1;
$border-width: 1px;
$border-radius: 0;


// BACKGROUND
//$body-bg: ;
$main-bg: #fff;


// Base Font Size
$em-base: 16px; // must be set to use emCalc function


// Body text
$body-font-colour: #333;
$body-font-family: Arial, sans-serif;
$placeholder: #888888;
$input-font-colour: #333;


//Headings
$heading-color: #333;
$heading-font-family: Arial, sans-serif;;
//$h1-color: $heading-color;
//$h2-color: $heading-color;
//$h3-color: $heading-color;
//$h4-color: $heading-color;
//$h5-color: $heading-color;


// GRID
$desktopMin: 960;